html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ReadexPro-Regular';
    src: url(../assets/font/ReadexPro-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'ReadexPro-Medium';
    src: url(../assets/font/ReadexPro-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'ReadexPro-SemiBold';
    src: url(../assets/font/ReadexPro-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: 'ReadexPro-Light';
    src: url(../assets/font/ReadexPro-Light.ttf);
}

body {
    background-color: #F0ECF0;
}

.row-limit-size {
    width: 100%;
    max-width: 1440px;
}

.center {
    margin: 0 auto;
}

.padding {
    padding: 0 40px;
}

.home-header {
    height: 100vh;
}

/* ------ MENU MOBILE ------ */

#head-top {
    padding-top: 20px;
}

.burger-menu-button {
    position: absolute;
    color: #333643;
    font-size: 1.3rem;
    right: 40px;
    top: 20px;
    cursor: pointer;
}

.burger-menu {
    display: none;
    height: 100vh;
    background-color: #F0ECF0;
    flex-direction: column;
    text-align: center;
    z-index: 1000;
}

.burger-menu.open {
    display: flex;
}

.burger-menu > nav {
    margin:auto;
}

.burger-menu > nav > ul > li > a {
    color: #333643;
    font-family: 'ReadexPro-Regular';
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 100px;
    height: 100px;
}

.divider {
    height: 2px;
    background-color: #333643;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.bong {
    color: #333643;
    font-size: 1.2rem;
    font-family: 'ReadexPro-Regular';
    font-family: 'ReadexPro-Medium';
}

/* ------ HOMEPAGE MOBILE ------ */

#hero {
    padding-top: 16px;
    animation: reveal ease-in 1s;
}

#hero h1 {
    font-family: 'ReadexPro-Medium';
    color: #333643;
    font-size: 1.3rem;
    text-transform: capitalize;
    margin-bottom: 16px;
}


#hero h2 {
    font-family: 'ReadexPro-Regular';
    color: #333643;
    font-size: 1rem;
    text-transform: capitalize;
}

.button {
    height: 40px;
    width: 120px;
    background-color: #333643;
    border-radius: 8px;
    margin-top: 12px;
}
.button a {
    font-size: 0.9rem;
    color: #F0ECF0;
    display: block;
    text-align: center;
    justify-content: center;
    font-family: 'ReadexPro-Regular';
    text-transform: capitalize;
    transition: all ease 0.25s;
    line-height: 40px;
    height: 40px;
}

.button:hover a {
    background-color: #F0ECF0;
    color: #333643;
    border: 2px solid #333643;
    border-radius: 8px;
}

#hero-images {
    padding-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero-images figure{
    width: 60%;
    text-align: center;
}

.home-img-1 {
    width  : 100%;
    display: block;
    margin-bottom: 20px;
}

.home-img-2 {
    width: 100%;
    display: block;
}


/* ------ MENU DESKTOP ------ */

.row-menu {
    display: none;
}

.row-menu nav ul {
    display: flex;
    justify-content: flex-end;
}

.row-menu nav ul li {
    padding: 0 40px;
    margin-top: -60px;
}

.row-menu nav ul li a {
    color: #333643;
    font-size: 1.2rem;
    font-family: 'ReadexPro-Regular';
    height: 80px;
    line-height: 80px;
    text-transform: capitalize;
    display: block;
}

.row-menu nav ul li:hover a {
    text-decoration: underline;
}


/* ------ MEDIA QUERY ------- */

@media (min-width: 800px){
    .home-img-1 {
        width: 120%;
    }
    .home-img-2 {
        width: 120%;
    }
}

@media (min-width: 990px){
    .bong {
        height: 60px;
        line-height: 60px;
    }
    .burger-menu-button {
        display: none;
    }
    .row-menu {
        display: block;
    }

    #hero {
        display: flex;
        padding-top: 60px;
        justify-content: center;
    }
    #hero-images {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 50%;
        margin: 16px 0 0 16px;
    }

    #hero-images img {
        width: 100%;
    } 
    #hero-text {
        padding-top: 60px;
    }

    #hero-text h1 {
        font-size: 2rem;
    }
    #hero-text h2 {
        font-size: 1.5rem;

    }

    .button {
        width: 160px;
        height: 60px;
    }
    .button a {
        height: 60px;
        line-height: 60px;
        font-size: 1.2rem;
    }
    .inspiration-img {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        justify-content: center;
        align-content: center;
    }
    
    .img1 {
        grid-column: span 2 / span 2;
        grid-row: span 3 / span 3;
    }
    .img2 { grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-column-start: 1;
        grid-row-start: 4;
    }
    .img3 {grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-column-start: 3;
        grid-row-start: 1;
    }
    .img4 { grid-column: span 2 / span 2;
        grid-row: span 3 / span 3;
        grid-column-start: 3;
        grid-row-start: 3;
     }

   .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   }

   #contact {
    display: flex;
    justify-content: center;
   }
   #contact a {
    padding: 0 40px;
   }

   /* Page My projects */
   .projects figure img {
    width: 40%;
    margin: 0 auto;
}


.text-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.back-button i {
    font-size: 2rem;
}

}
@media (min-width: 1100px){
    .image-2 img {
        width: 90%;
    }
    #hero-text h1 {
        font-size: 2.5rem;
    }
}
@media(min-width: 1100px){
    .sineru-landscape img {
        width: 87%;
     
    }
}




/* ------ ABOUT ME ------ */


.about-me-text h2 {
    font-size: 1.5rem;
    padding: 16px 0;
    color: #333643;
    font-family: 'ReadexPro-SemiBold';
}

.about-me-text p {
    font-family: 'ReadexPro-Light';
    font-size: 1rem;
    line-height: 32px;
    padding-top: 8px;
    color: #333643;
}

.icones {
    display: flex;
}

.icones figure {
    width: 50px;
    padding: 0 8px;
}

.icones figure img {
    width: 100%;
}


.about-me-text h3 {
    font-size: 1.2rem;
    padding: 20px 0 8px 0;
    color: #333643;
    font-family: 'ReadexPro-SemiBold';
    text-transform: capitalize;
}

.about-me-text h4 {
    font-size: 1.1rem;
    color: #333643;
    font-family: 'ReadexPro-SemiBold';
    text-transform: capitalize;
    padding: 8px;
}



#contact a {
    font-family: 'ReadexPro-Light';
    font-size: 1rem;
    line-height: 32px;
    padding-top: 8px;
    color: #333643;
    display: block;
  
    transition: all ease-in 0.5s;
}

.about-me-text i {
    float: left;
    margin: 8px 8px;
    font-size: 1.2rem;
    color: #333643;
}

#contact a:hover  {
    text-decoration: underline;
}


.inspiration figure {
    width: 90%;
    margin: 0 auto;
}

.inspiration figure img {
    width: 100%;
}

.inspiration {
    text-align: center;
}

.inspiration p {
    margin-bottom: 8px;
    text-decoration: underline;
}
.inspiration > h3 {
    text-align: left;
    padding: 40px 0;
}



/* ----- PAGE MY PROJECTS ----- */

.projects {
    padding-top: 60px;
}
.projects figure {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.projects img {
    width: 100%;
    display: block;
    transition: all ease .5s;
    transform: scale(1);
    margin-top: 16px;
}
.projects p {
    padding-bottom: 8px;
    color: #333643;
    transition: all ease .25s;
    font-family: 'ReadexPro-Light';
    font-size: 1rem;
    margin-top: 16px;
}

.projects figure img:hover {
    transform: scale(1.05);
}

.projects .button {
    margin: 0 auto;
    margin-bottom: 16px;
}



/* ------ ANIMATION ----- */

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.reveal {
    opacity: 0;
    transform: translateY(-30px);
    
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 1s;
}




/* ----- SINERU PROJECTS ----- */

section > h2 {
    margin: 16px 0;
    color: #333643;
    font-family: 'ReadexPro-SemiBold';
}

.sineru-center {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.sineru-center img {
    display: block;
    margin-bottom: 9px;
    width: 100%;
}

.sineru-center iframe {
    margin-bottom: 10px;
}


.sineru-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-bottom: 8px
}
.sineru-grid img {
    width: 100%;
}

.copyright  {
    text-align: center;
    font-size: 0.8rem;
    font-family: 'ReadexPro-Light';
    margin: 8px 0;
}

.copyright .divider {
    margin-top: 16px;
}

.back-button {
    color: #333643;
    font-size: 1rem;
    margin: 8px;
}

.back-button i {
    transition: all ease-in 0.25s;
}

.back-button:hover i {
    color: #858aa0;
}